# Load the dataset

In [1]:
import warnings
warnings.filterwarnings('ignore')

In [2]:
import pandas as pd
import numpy as np

df = pd.read_csv('concrete_data.csv')
df.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

In [3]:
df.shape  #check Number of datapoints

(1030, 9)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1030 entries, 0 to 1029
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Cement              1030 non-null   float64
 1   Blast Furnace Slag  1030 non-null   float64
 2   Fly Ash             1030 non-null   float64
 3   Water               1030 non-null   float64
 4   Superplasticizer    1030 non-null   float64
 5   Coarse Aggregate    1030 non-null   float64
 6   Fine Aggregate      1030 non-null   float64
 7   Age                 1030 non-null   int64
 8   Strength            1030 non-null   float64
dtypes: float64(8), int64(1)
memory usage: 72.5 KB

there is no null values

# Split data into X and y

In [5]:
X = df.drop('Strength', axis=1)
y = df['Strength']

#  normalize the data by substracting the mean and dividing by the standard deviation

In [6]:
X_norm= (X - X.mean()) / X.std()
X_norm.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,0.862735,-1.217079,-0.279597
1,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,1.055651,-1.217079,-0.279597
2,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,3.551340
3,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,5.055221
4,-0.790075,0.678079,-0.846733,0.488555,-1.038638,0.070492,0.647569,4.976069

# Use the Keras library to build a neural network with the following:

- One hidden layer of 10 nodes, and a ReLU activation function

- Use the adam optimizer and the mean squared error  as the loss function

In [8]:
import keras
from keras.models import Sequential
from keras.layers import Dense

def ANN_model():
    # create model
    model = Sequential()
    model.add(Dense(10, activation='relu', input_shape=(X.shape[1],)))
    model.add(Dense(1))
    
    # compile model
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

#  split the data into a training and test sets by holding 30% of the data for testing

In [9]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X_norm, y, test_size=0.3, random_state=42)

#  call the function now to create our model. (100 epochs)

In [11]:
model = ANN_model()
epochs = 100
model.fit(X_train, y_train, epochs=epochs, verbose=1)

Epoch 1/100
23/23 [==============================] - 1s 3ms/step - loss: 1554.1368
Epoch 2/100
23/23 [==============================] - 0s 3ms/step - loss: 1541.9381
Epoch 3/100
23/23 [==============================] - 0s 3ms/step - loss: 1529.2323
Epoch 4/100
23/23 [==============================] - 0s 4ms/step - loss: 1515.3210
Epoch 5/100
23/23 [==============================] - 0s 3ms/step - loss: 1500.2460
Epoch 6/100
23/23 [==============================] - 0s 3ms/step - loss: 1483.7155
Epoch 7/100
23/23 [==============================] - 0s 3ms/step - loss: 1465.7512
Epoch 8/100
23/23 [==============================] - 0s 3ms/step - loss: 1446.3031
Epoch 9/100
23/23 [==============================] - 0s 3ms/step - loss: 1425.2151
Epoch 10/100
23/23 [==============================] - 0s 3ms/step - loss: 1402.4703
Epoch 11/100
23/23 [==============================] - 0s 3ms/step - loss: 1378.1782
Epoch 12/100
23/23 [==============================] - 0s 3ms/step - loss: 1352.2096
Epoch 13/100
23/23 [==============================] - 0s 3ms/step - loss: 1324.6139
Epoch 14/100
23/23 [==============================] - 0s 4ms/step - loss: 1295.2134
Epoch 15/100
23/23 [==============================] - 0s 3ms/step - loss: 1264.7255
Epoch 16/100
23/23 [==============================] - 0s 3ms/step - loss: 1232.0848
Epoch 17/100
23/23 [==============================] - 0s 4ms/step - loss: 1198.4542
Epoch 18/100
23/23 [==============================] - 0s 3ms/step - loss: 1162.8092
Epoch 19/100
23/23 [==============================] - 0s 5ms/step - loss: 1125.7523
Epoch 20/100
23/23 [==============================] - 0s 4ms/step - loss: 1087.6064
Epoch 21/100
23/23 [==============================] - 0s 5ms/step - loss: 1048.1771
Epoch 22/100
23/23 [==============================] - 0s 3ms/step - loss: 1007.0976
Epoch 23/100
23/23 [==============================] - 0s 4ms/step - loss: 966.2834
Epoch 24/100
23/23 [==============================] - 0s 4ms/step - loss: 925.2104
Epoch 25/100
23/23 [==============================] - 0s 4ms/step - loss: 883.4756
Epoch 26/100
23/23 [==============================] - 0s 4ms/step - loss: 842.4887
Epoch 27/100
23/23 [==============================] - 0s 5ms/step - loss: 802.1434
Epoch 28/100
23/23 [==============================] - 0s 4ms/step - loss: 762.2486
Epoch 29/100
23/23 [==============================] - 0s 4ms/step - loss: 722.9078
Epoch 30/100
23/23 [==============================] - 0s 3ms/step - loss: 685.1989
Epoch 31/100
23/23 [==============================] - 0s 3ms/step - loss: 648.8563
Epoch 32/100
23/23 [==============================] - 0s 3ms/step - loss: 613.6288
Epoch 33/100
23/23 [==============================] - 0s 3ms/step - loss: 579.9916
Epoch 34/100
23/23 [==============================] - 0s 3ms/step - loss: 548.0267
Epoch 35/100
23/23 [==============================] - 0s 3ms/step - loss: 518.1466
Epoch 36/100
23/23 [==============================] - 0s 4ms/step - loss: 489.6052
Epoch 37/100
23/23 [==============================] - 0s 4ms/step - loss: 463.0228
Epoch 38/100
23/23 [==============================] - 0s 3ms/step - loss: 437.9822
Epoch 39/100
23/23 [==============================] - 0s 3ms/step - loss: 414.9478
Epoch 40/100
23/23 [==============================] - 0s 4ms/step - loss: 393.8269
Epoch 41/100
23/23 [==============================] - 0s 3ms/step - loss: 373.9499
Epoch 42/100
23/23 [==============================] - 0s 3ms/step - loss: 355.9420
Epoch 43/100
23/23 [==============================] - 0s 3ms/step - loss: 340.0145
Epoch 44/100
23/23 [==============================] - 0s 3ms/step - loss: 324.2675
Epoch 45/100
23/23 [==============================] - 0s 3ms/step - loss: 310.7813
Epoch 46/100
23/23 [==============================] - 0s 3ms/step - loss: 298.2419
Epoch 47/100
23/23 [==============================] - 0s 3ms/step - loss: 286.8599
Epoch 48/100
23/23 [==============================] - 0s 3ms/step - loss: 276.4998
Epoch 49/100
23/23 [==============================] - 0s 3ms/step - loss: 267.0734
Epoch 50/100
23/23 [==============================] - 0s 4ms/step - loss: 258.2170
Epoch 51/100
23/23 [==============================] - 0s 4ms/step - loss: 250.4559
Epoch 52/100
23/23 [==============================] - 0s 9ms/step - loss: 243.4247
Epoch 53/100
23/23 [==============================] - 0s 5ms/step - loss: 236.8400
Epoch 54/100
23/23 [==============================] - 0s 4ms/step - loss: 230.7663
Epoch 55/100
23/23 [==============================] - 0s 3ms/step - loss: 225.4501
Epoch 56/100
23/23 [==============================] - 0s 3ms/step - loss: 220.2144
Epoch 57/100
23/23 [==============================] - 0s 3ms/step - loss: 215.6799
Epoch 58/100
23/23 [==============================] - 0s 3ms/step - loss: 211.3787
Epoch 59/100
23/23 [==============================] - 0s 4ms/step - loss: 207.4380
Epoch 60/100
23/23 [==============================] - 0s 3ms/step - loss: 203.7152
Epoch 61/100
23/23 [==============================] - 0s 3ms/step - loss: 200.4356
Epoch 62/100
23/23 [==============================] - 0s 3ms/step - loss: 197.2705
Epoch 63/100
23/23 [==============================] - 0s 3ms/step - loss: 194.3434
Epoch 64/100
23/23 [==============================] - 0s 3ms/step - loss: 191.6458
Epoch 65/100
23/23 [==============================] - 0s 4ms/step - loss: 189.0033
Epoch 66/100
23/23 [==============================] - 0s 3ms/step - loss: 186.6569
Epoch 67/100
23/23 [==============================] - 0s 3ms/step - loss: 184.4449
Epoch 68/100
23/23 [==============================] - 0s 4ms/step - loss: 182.3366
Epoch 69/100
23/23 [==============================] - 0s 3ms/step - loss: 180.3844
Epoch 70/100
23/23 [==============================] - 0s 3ms/step - loss: 178.4337
Epoch 71/100
23/23 [==============================] - 0s 3ms/step - loss: 176.5992
Epoch 72/100
23/23 [==============================] - 0s 3ms/step - loss: 174.8663
Epoch 73/100
23/23 [==============================] - 0s 3ms/step - loss: 173.2428
Epoch 74/100
23/23 [==============================] - 0s 3ms/step - loss: 171.5752
Epoch 75/100
23/23 [==============================] - 0s 3ms/step - loss: 170.0741
Epoch 76/100
23/23 [==============================] - 0s 3ms/step - loss: 168.5755
Epoch 77/100
23/23 [==============================] - 0s 3ms/step - loss: 167.1357
Epoch 78/100
23/23 [==============================] - 0s 4ms/step - loss: 165.8993
Epoch 79/100
23/23 [==============================] - 0s 3ms/step - loss: 164.5184
Epoch 80/100
23/23 [==============================] - 0s 3ms/step - loss: 163.1568
Epoch 81/100
23/23 [==============================] - 0s 3ms/step - loss: 162.0841
Epoch 82/100
23/23 [==============================] - 0s 3ms/step - loss: 160.8819
Epoch 83/100
23/23 [==============================] - 0s 4ms/step - loss: 159.7658
Epoch 84/100
23/23 [==============================] - 0s 3ms/step - loss: 158.7111
Epoch 85/100
23/23 [==============================] - 0s 3ms/step - loss: 157.7019
Epoch 86/100
23/23 [==============================] - 0s 4ms/step - loss: 156.5769
Epoch 87/100
23/23 [==============================] - 0s 4ms/step - loss: 155.5840
Epoch 88/100
23/23 [==============================] - 0s 4ms/step - loss: 154.6246
Epoch 89/100
23/23 [==============================] - 0s 3ms/step - loss: 153.7493
Epoch 90/100
23/23 [==============================] - 0s 4ms/step - loss: 152.8245
Epoch 91/100
23/23 [==============================] - 0s 3ms/step - loss: 152.0085
Epoch 92/100
23/23 [==============================] - 0s 3ms/step - loss: 151.1955
Epoch 93/100
23/23 [==============================] - 0s 3ms/step - loss: 150.2672
Epoch 94/100
23/23 [==============================] - 0s 3ms/step - loss: 149.5816
Epoch 95/100
23/23 [==============================] - 0s 3ms/step - loss: 148.7277
Epoch 96/100
23/23 [==============================] - 0s 3ms/step - loss: 147.9601
Epoch 97/100
23/23 [==============================] - 0s 3ms/step - loss: 147.2398
Epoch 98/100
23/23 [==============================] - 0s 3ms/step - loss: 146.4967
Epoch 99/100

23/23 [==============================] - 0s 3ms/step - loss: 145.9097
Epoch 100/100
23/23 [==============================] - 0s 3ms/step - loss: 145.1239

#  Evaluate the model on the test data

In [12]:
loss_val = model.evaluate(X_test, y_test)
y_pred = model.predict(X_test)
loss_val

10/10 [==============================] - 0s 3ms/step - loss: 143.2319
10/10 [==============================] - 0s 4ms/step

143.2318878173828

In [13]:
from sklearn.metrics import mean_squared_error
mean_square_error = mean_squared_error(y_test, y_pred)
mean = np.mean(mean_square_error)
standard_deviation = np.std(mean_square_error)
print(mean, standard_deviation)

143.23188349477962 0.0

#  Run the model for 100 epochs

In [15]:
# Number of repetitions
repetitions = 100

# Lists to store mean squared errors
mse_list = []

# Repeat the process 50 times
for _ in range(repetitions):
    # Split the data into training and test sets
    X_train, X_test, y_train, y_test = train_test_split(X_norm, y, test_size=0.3, random_state=42)

    model = ANN_model()
    # Train the model
    model.fit(X_train, y_train, epochs=50, verbose=0)

    # Predict on the test set
    y_pred = model.predict(X_test)

    # Calculate mean squared error and append to the list
    mse = mean_squared_error(y_test, y_pred)
    mse_list.append(mse)

10/10 [==============================] - 0s 3ms/step
10/10 [==============================] - 0s 6ms/step
10/10 [==============================] - 0s 2ms/step
10/10 [==============================] - 0s 5ms/step
10/10 [==============================] - 0s 3ms/step
10/10 [==============================] - 0s 7ms/step
10/10 [==============================] - 0s 2ms/step
10/10 [==============================] - 0s 2ms/step
10/10 [==============================] - 0s 2ms/step
10/10 [==============================] - 0s 3ms/step
10/10 [==============================] - 0s 2ms/step
10/10 [==============================] - 0s 3ms/step
10/10 [==============================] - 0s 3ms/step
10/10 [==============================] - 0s 4ms/step
10/10 [==============================] - 0s 4ms/step
10/10 [==============================] - 0s 4ms/step
10/10 [==============================] - 0s 4ms/step
10/10 [==============================] - 0s 2ms/step
10/10 [==============================] - 0s 3ms/step
10/10 [==============================] - 0s 3ms/step
10/10 [==============================] - 0s 4ms/step
10/10 [==============================] - 0s 4ms/step
10/10 [==============================] - 0s 5ms/step
10/10 [==============================] - 0s 3ms/step
10/10 [==============================] - 0s 4ms/step
10/10 [==============================] - 0s 2ms/step
10/10 [==============================] - 0s 4ms/step
10/10 [==============================] - 0s 4ms/step
10/10 [==============================] - 0s 6ms/step
10/10 [==============================] - 0s 3ms/step
10/10 [==============================] - 0s 3ms/step
10/10 [==============================] - 0s 4ms/step
10/10 [==============================] - 0s 3ms/step
10/10 [==============================] - 0s 2ms/step
10/10 [==============================] - 0s 5ms/step
10/10 [==============================] - 0s 4ms/step
10/10 [==============================] - 0s 4ms/step
10/10 [==============================] - 0s 2ms/step
10/10 [==============================] - 0s 4ms/step
10/10 [==============================] - 0s 4ms/step
10/10 [==============================] - 0s 5ms/step
10/10 [==============================] - 0s 4ms/step
10/10 [==============================] - 0s 4ms/step
10/10 [==============================] - 0s 5ms/step
10/10 [==============================] - 0s 5ms/step
10/10 [==============================] - 0s 4ms/step
10/10 [==============================] - 0s 3ms/step
10/10 [==============================] - 0s 3ms/step
10/10 [==============================] - 0s 5ms/step
10/10 [==============================] - 0s 2ms/step

#  mean and the standard deviation of the mean squared errors (100 epochs)

In [17]:
mean_squared_errors = np.array(mse_list)
mean = np.mean(mean_squared_errors)
standard_deviation = np.std(mse_list)

print("Below is the mean and standard deviation of the Normalized Data " + "\n")

print("Mean: "+str(mean))
print("Standard Deviation: "+str(standard_deviation))

Below is the mean and standard deviation of the Normalized Data

Mean: 353.4767812049374
Standard Deviation: 96.11796416724917